.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: lightgrey;
    border: 2px solid grey;
    padding: 5px;
    width: 100%;
    justify-content: space-around;
}

span {
    padding-top: 10px;
}