body {
    margin: 0;
}

.grid{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-auto-flow: row;
}

.sidebar-section{
    background-color: black;
    width: auto;
    height: auto;
}

.content-section{
    background-color:rgb(217, 249, 249);
    /* width: 100vh; */
    min-height: 100vh;
    height: auto;
    width: auto;
}


@media all and (max-width: 600px){ 

    .sidebar-section{
       grid-template-columns: repeat(1,1fr);
    }
    
    .content-section{
        grid-template-columns: repeat(1,1fr);
    }


}

