.row {
    list-style: none;
    background-color: lightgrey;
    border: 2px solid grey;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

ul li {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text {
    padding-right: 100px;
}
