
.grid{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-auto-flow: row;
}

.sidebar-section{
    background-color: black;
    height: 100vh;
}


.content-section{
    background-color: #747474;
    height: 100vh;
}


@media all and (max-width: 600px){ 

    .sidebar-section{
       grid-template-columns: repeat(1,1fr);
    }
    
    .content-section{
        grid-template-columns: repeat(1,1fr);
    }


}

